# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# Conda / venv
python_service/venv/
python_service/.env

# Jupyter
.ipynb_checkpoints/

# =====================
# Frontend
# =====================
front/node_modules/

# =====================
# OS
# =====================
Thumbs.db
.DS_Store
